body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1029px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:1024px;
  height:74px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:74px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:3px;
  width:1024px;
  height:74px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:46px;
  background:inherit;
  background-color:rgba(23, 179, 163, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(23, 179, 163, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F5F5F5;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:17px;
  width:169px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#F5F5F5;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:165px;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:758px;
  top:1px;
  width:271px;
  height:66px;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:21px;
  width:267px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:759px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:79px;
  width:184px;
  height:759px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:86px;
  width:101px;
  height:100px;
}
#u14_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:20px;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:33px;
  height:20px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:28px;
  white-space:nowrap;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:81px;
  height:20px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u18_img.selected {
}
#u18.selected {
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u17_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:81px;
  height:20px;
}
#u21_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:81px;
  height:20px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:60px;
  width:81px;
  height:20px;
}
#u25_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:59px;
  height:20px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:54px;
  white-space:nowrap;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:757px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:81px;
  width:836px;
  height:757px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:721px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:93px;
  width:801px;
  height:721px;
  font-size:48px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:333px;
  width:797px;
  word-wrap:break-word;
}
